<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.ModelMapper">
    <select id="getPrevYearUsage" parameterType="map" resultType="org.zerock.domain.GraphmapVO">
        SELECT *
        FROM elect_usage
        WHERE region = #{region} AND year = #{year}
    </select>
</mapper>