@charset "UTF-8";

*{color: white;}
body{background-color: #1a2a3a;}

#main1{
	box-sizing: border-box;
	width: 88vw; height: 98vh;
	display: flex;
	overflow: hidden;
}

#main{
	box-sizing: border-box;
	width:1425px; height:960px;
	overflow:hidden;
	display: flex;
	flex-wrap: wrap;
}

#menu{
	box-sizing: border-box;
	width:255px; height:960px;
	display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-bottom: 20px;
}
/* 스크롤바 전체 (트랙) */
#menu::-webkit-scrollbar {
  width: 8px; /* 스크롤바 두께 */
}

/* 스크롤바 트랙 (바탕) */
#menu::-webkit-scrollbar-track {
  background: #142030; /* 트랙 배경 (어두운 남색) */
  border-radius: 4px;
}

/* 스크롤바 핸들 (움직이는 부분) */
#menu::-webkit-scrollbar-thumb {
  background: #405060; /* 스크롤 핸들 색상 */
  border-radius: 4px;
}

/* 스크롤바 핸들 hover 시 색상 */
#menu::-webkit-scrollbar-thumb:hover {
  background: #607080;
}

#prevUsageBox {
	width: 860px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    background-color:#2a4353;
	border-radius:10px;
	margin-left: 25px;
}

#sMonthUsageBox {
	width: 680px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    background-color:#2a4353;
	border-radius:10px;
	margin-left: 25px;
}
	
#monthUsageBox {
	width: 510px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    margin-left: 25px;
    text-align: center;
}

#yearUsageBox{
	width: 680px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    box-sizing: border-box;
    background-color:#2a4353;
	border-radius:10px;
	margin-left: 25px;
}

#prevUsageBox , #sMonthUsageBox , #yearUsageBox {padding-left: 20px; padding-right: 20px; margin-top: 10px;}

.menu {
    width: 110px;
    height: 110px;
    box-sizing: border-box;
    border: 1px solid rgb(33,28,57);
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    word-break: break-word;
    margin: 15px 5px 5px 5px;
    background-color:#2a4353;
}
.menu h2, .menu p{margin:0px 0px 7px 0px;}

#chartBox{
	margin-top: 30px;
	display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#chart4Box {
	overflow:hidden;
	width:200px;
	height:200px;
	margin-left: 20px;
}

#chart5Box {
	overflow:hidden;
	width:200px;
	height:200px;
	margin-left: 40px;
}

#nowMonthBox1, #nowMonthBox2 {
	overflow: hidden;
	text-align: center;
	width: 240px;
	height: 100px;
	margin-top: 30px;
}
